@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

h1
{
    text-align: center;
}

h2
{
    text-align: center;
}

figcaption
{
    font-size: 82%;
    text-align: center;
    font-family: sans-serif;
}

img
{
width: 300px;
height: auto;
}

figure
{
    padding: 4.5%;
    background-color: rgba(229, 226, 226, 0.49);
    text-align: center;
}

html
{
    max-width: 960px;
    font-size: 16px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    line-height: 1.30;
}